:root {
    /* colors */
    --IH-blue: #30BFF5;
    --white: #ffffff;
    --black: #000000;
    --yellow: #FFFF00;
    --red: #FF0000;
    --blue: #0000FF;
    --green: #00FF00;
    --bright-blue: #00FFFF;
    --pink: #FF00FF;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}


body {
    background-color: black;
}

header {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;

    width: 100vw;
    height: 15vh;
    padding: 16px 40px;

    position: fixed;
    top: 0;

    background-color: var(--black);
}

#logo {
    height: 100%;
}

#page-title {
    font-family: 'LoRes 15 OT', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    line-height: 102px;
    text-transform: uppercase;
    color: var(--white);
}

.blue {
    color: var(--IH-blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    margin-top: 15vh;
    padding: 0 40px;
    
    box-sizing: border-box;
    
    margin-bottom: 15vh;
}

/* CHECK!! */
#hero {
    height: 85vh;
    width: 100%;
    scroll-margin-top: 15vh;
}

/* dividers */

/* dividers with text */
.divider-text {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 48px;
}

.text {
    width: 100%;
    color: var(--yellow);
    font-family: 'LoRes 12 OT', sans-serif;
    font-weight: 410;
    font-size: 2.5vw;
    line-height: 52px;
    text-align: center;
    text-transform: lowercase;
}

/* regular dividers & colors */
.divider {
    background-color: var(--yellow);
    height: 2vw;
    width: 100%;
}

.divider.pink {
    background-color: var(--pink);
}

.dark-blue {
    background-color: var(--blue);
}

/* channels */
.channels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'LoRes 9 Plus OT';
    font-weight: 410;
    font-size: 2.5vw;
    line-height: 49px;
}

.channel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px;
    min-width: 46vw;
    gap:8px;
    box-sizing: border-box;
    text-decoration: none;
}

.channel hr {
    width: 100%;
}

hr.blue {
    border: 4px dashed var(--bright-blue);
}

p.white {
    font-family: 'LoRes 9 Plus OT';
font-style: normal;
font-weight: 710;
font-size: 2.5vw;
line-height: 49px;
}

/* big channel */
.big-channel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.big {
    padding: 16px 40px;
    gap: 32px;
    background-color: var(--red);
    color: var(--yellow);
    font-family: 'LoRes 15 OT';
    font-weight: 700;
    font-size: 6vw;
    line-height: 102px;
}

.big p {
    background-color: transparent;
} 

.big hr {
    background-color: transparent;
    border: 4px dashed var(--yellow);
    color: transparent;
}

hr.yellow {
    background-color: transparent;
    border: 4px dashed var(--yellow);
    color: transparent;
}

/* big channel message */
.message p {
    font-family: 'LoRes 9 OT';
    font-weight: 410;
    font-size: 3vw;
    line-height: 62px;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
    background-color: var(--green);
}

/* what when how sections */
#what, #when, #how {
    width: 100%;
    height: 85vh;
    scroll-margin-top: 15vh;
}

.big-title {
    background-color: var(--red);
    color: var(--yellow);
    font-family: lores-22-serif, sans-serif;
    font-weight: 720;
    font-size: 8vw;
    line-height: 159px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    padding: 16px 40px;
    gap: 8px;

    width: 100%;
    box-sizing: border-box;
}

.body, .tasks {
    font-family: 'LoRes 12 OT';
    font-weight: 410;
    font-size: 2.2vw;
    line-height: 130%;
    color: var(--bright-blue);
    margin-top: 2.5vw;
}

.dates {
    display: flex;
    width: 100%;
    margin-top: 48px;
}

.dates .message p, .dates .message {
    width: 100%;
}

.message.yellow  p{
    background-color: var(--yellow);
    color: var(--red);
}

.message.blue  p{
    background-color: var(--bright-blue);
    color: var(--blue);
}

.tasks {
    margin-left: 0;
}

.tasks li::marker {
    color: var(--pink);
}



.tasks a, .tasks a:visited {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none;
}

.tasks a:hover {
    background-color: var(--red);
    color: var(--yellow);
}

/* footer */
footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    box-sizing: border-box;
    padding: 8px 40px;
    background-color: var(--black);
    position: fixed;
    bottom: 0;
}

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer-link {
    
    width: 100%;
    font-family: 'LoRes 12 OT';
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 48px;    
    text-align: center;
    text-transform: uppercase;
    
}

.link {
    text-decoration: none;
    padding: 16px;
    list-style-position: inside;
    width: 100%;
}

.link.what {
    background-color: var(--red);
    color: var(--white);
    margin: 0;
}

.link.when {
    background-color: var(--green);
    color: var(--blue);
    margin: 0;
}

.link.how {
    background-color: var(--yellow);
    color: var(--blue);
    margin: 0;
}

.link.top {
    background-color: var(--bright-blue);
    color: blue;
    margin: 0;
}

.wireframe {
    align-items: stretch;
    margin-bottom: 10vh;
}

#how .channels {
    margin-top: 5vh;
    background-color: var(--yellow);
}

#how .channels hr {
    border-color: var(--black);
}

#how .channels p {
    color: var(--black);
    white-space: nowrap;
}


.wide {
    width: 100%;
}



/* colors */
.pink {
    color: var(--pink);
}

.bright-blue {
    color: var(--bright-blue);
}

.white {
    color: var(--white);
}

.yellow {
    color: var(--yellow);
}

.tasks a:focus, .footer .link:focus  {
    color: var(--black) !important;
    background-color: var(--pink) !important;
    outline: none;
}

.channels .channel:focus , .channel.big:focus {
    background-color: var(--pink) !important;
    outline: none;
}

#keyboard-input {
    border: 0;
    background-color: var(--blue);
    font-family: 'LoRes 15 OT', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    line-height: 102px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    position: fixed;
    top: 20px;
    right: 20px;
    width: 10vw;
    outline: 0;

}

#keyboard-input:placeholder-shown {
    background-color: transparent;
}

#keyboard-input::placeholder {
    color: transparent;
}

